body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.menu ul {
  list-style: none;
  overflow: hidden;
}
.menu ul li {
  float: left;
  padding: 10px 20px;
}
